<!DOCTYPE html>
<html>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <head>
     <title>
       {% block title %}
       {% endblock %}
     </title>
     <link rel="stylesheet" type="text/css" href="static/guess.css">


   </head>

<!--
   <body onload="myFunction()" id="grad1">
<nav class="navbar navbar-default">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">JANUS</a>
    </div>


</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JANUS</a>
  <a class="navbar-brand" href="/all_courses">Course Directory</a>
  <a class="navbar-brand" href="/select_courses">Course Selection</a>
    <a class="navbar-brand" href="/transcript">Transcript</a>
  <a class="navbar-brand" href="/student_settings">Settings</a>
     <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
       <a class="navbar-brand" href="/logout">Log Out</a>
</nav>


<div  class = "container-fluid" id = "grad1">
{% block content %}

{% endblock %}
</div>

<!-- AJAX TO DISPLAY TRANCRIPT -->
   </body>


  </html>
