{% extends "student/student_base.html" %}

{% block title %}
AP Selection
{% endblock %}

{% block content %}

<div class = "container" style = "padding: 0cm 0cm 0cm 2cm;">
  <h1> Welcome {{name}} </h1>
</div>
<div class = "container" style= "padding: 1cm 5cm 15cm 5cm;">
  <!-- use jinja2 to cycle through a list/dictionary and put in as options -->
  <form action="apChoice" method="POST">
    <h3> First AP Choice </h3>
    <select class="form-control form-control-sm" name="elective1">
      <option> N/A </option>
      {% for key, value in APs.items() %}
      <option> {{key}}: {{value}} </option>
      {% endfor %}
    </select>
    <br>
    <h3> Second AP Choice </h3>
    <select class="form-control form-control-sm" name="elective2">
      <option> N/A </option>
      {% for key, value in APs.items() %}
      <option> {{key}}: {{value}} </option>
      {% endfor %}
    </select>
    <br>
    <h3> Third AP Choice </h3>
    <select class="form-control form-control-sm" name="elective3">
      <option> N/A </option>
      {% for key, value in APs.items() %}
      <option> {{key}}: {{value}} </option>
      {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <a href="/select_classes"><button type="button" class="btn btn-primary">Return to Selection</button></a>
</div>




<!-- <script src="/static/electives.js"></script> -->



{% endblock %}
