{% extends "student/student_base.html" %}

{% block title %}
Courses
{% endblock %}

{% block content %}

<div class = "row" >
<h1> Welcome {{name}}. </h1>
</div>

<div class = "column" style= "padding: 1cm 5cm 15cm 5cm;">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"><h3>Classes</h3></th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">Biology</button></th>

      </tr>
      <tr>
        <th scope="row">  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo2">Chemistry</button></th>

      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo3">English</button></th>

      </tr>
    </tbody>
  </table>
  <a href="/"><button type="button" class="btn-sm btn-light">Return to Dashboard</button></a>

  </div>

  <div class = "column" style= "padding: 1cm 5cm 15cm 5cm;">

    <div id="demo" class="collapse">

      I love biology.I love biology.I love biology.I love biology.I love biology.I love biology.I love biology.
    </div>
    <div id="demo2" class="collapse">
    I love chemistry.I love chemistry.I love chemistry.I love chemistry.I love chemistry.I love chemistry.
    </div>
    <div id="demo3" class="collapse">
      I love English.I love English.I love English.I love English.I love English.I love English.I love English.
    </div>

</div>



{% endblock %}
