{% extends "student/student_base.html" %}

{% block title %}
Selection
{% endblock %}

{% block content %}
<div class = "row" >
  <h1> Welcome {{fname}}. </h1>
</div>

<div class = "column" style= "padding: 1cm 5cm 15cm 5cm;">

<center>
<a href="select_aps"><button type="button" class="btn-lg btn-light">AP Selections</button></a>
</center>
</div>

<div class = "column" style= "padding: 1cm 5cm 15cm 5cm;">

<center>
<a href="/select_electives"><button type="button" class="btn-lg btn-light">Elective Selections</button></a>
</center>
</div>

{% endblock %}
