{% extends "student/student_base.html" %}

{% block title %}
History
{% endblock %}

{% block content %}


<div class = "row">
<h1> Welcome {{name}}. </h1>
</div>

<div style= "padding: 1cm 5cm 15cm 5cm;">
  <h3>John Doe</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Placed?</th>
      </tr>
    </thead>
    <tbody>
      {% status in placement %}
      <tr>

        <td>{{code}}</td>
          <td>{{status}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  <br>

  <br>
  <a href="/"><button type="button" class="btn-sm btn-light">Return to Dashboard</button></a>
</div>



{% endblock %}
