{% extends "guess_base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="col-sm-12 text-left"  id="grad1" style= "padding: 10cm 5cm 15cm 5cm;">
   <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
    <center>
      <h5> JANUS</h5>
<button type="button" class="btn btn-link">Click to learn more</button>
<h4>

  Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.Stuff Stuff stuff stuff.

</h4>
      </center>
  </div>


</div>
{% endblock %}
