{% extends "guess_base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<!--
<script language = "javascript" type = "text/javascript">
xmlhttp = new XMLHttpRequest();
function getScores(){
xmlhttp.onreadystatechange = function(){
  if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
    document.getElementById('column').innerHTML = xmlhttp.responseText;
  }
  else{
    document.getElementById('column').innerHTML = "<strong> Waiting for server response </strong>"
  }
}
/* 0: Hasn't started
1: Connected to server
2: Sever recevied request
3: Server processing
4: Requst is finished and data is ready
*/
}

xmlhttp.open("GET", "/trasncript.html", true);
xmlhttp.send();
</script>
-->
<div class = "row">
<div class="col-sm-12 text-left"  id="grad1" >
<h1> Welcome {{name}}. </h1>

   <div class = "column" style= "padding: 5cm 5cm 15cm 5cm;">

<center>

<button type="button" class="btn-lg btn-light">Transcript</button>
<br>
<br>
<button type="button" class="btn-lg btn-light">Course Selection</button>
<br>
<br>
<button type="button" class="btn-lg btn-light">Account Settings</button>
<br>
<br>
<button type="button" class="btn-lg btn-light">Course Directory</button>

</center>

</div>

<div id = "column" style= "padding: 5cm 5cm 15cm 5cm;">
<center>
<h1>AJAX ya feel</h1>
</center>
</div>


</div>

</div>



{% endblock %}
