{% extends "guess_base.html" %}

{% block title %}
Course Selections
{% endblock %}

{% block content %}


<div class = "column" style= "padding: 5cm 5cm 5cm 5cm;">

  <form method="GET" >
    First Elective Choice: <br>
    <select name="elective1" size="1">
      <option>Human Diseases</option>
      <option>Forensics</option>
      <option>Nutritional Science</option>
      <option>Medical Ethics</option>
      <option>Geology</option>
      <option>Human Reasoning</option>
    </select>
    <br>
    <br>Second Elective Choice: <br>
    <select name="elective2" size="1">
      <option>Human Diseases</option>
      <option>Forensics</option>
      <option>Nutritional Science</option>
      <option>Medical Ethics</option>
      <option>Geology</option>
      <option>Human Reasoning</option>
    </select>

    <br>Third Elective Choice: <br>
    <select name="elective3" size="1">
      <option>Human Diseases</option>
      <option>Forensics</option>
      <option>Nutritional Science</option>
      <option>Medical Ethics</option>
      <option>Geology</option>
      <option>Human Reasoning</option>
    </select>

    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>





{% endblock %}
