{% extends "admin/admin_base.html" %}

{% block title %}
Courses
{% endblock %}

{% block content %}

<div class = "row" >
<h1> Welcome {{name}}. </h1>
</div>

<div class = "column" style= "padding: 1cm 5cm 15cm 5cm;">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"><h3>Classes</h3></th>

      </tr>
    </thead>
    <tbody>
      {% for class in classes %}
      <tr>
        <th scope="row">  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#{{code}}">{{class}}</button></th>
      </tr>
{% endfor %}
    </tbody>
  </table>
  <a href="/"><button type="button" class="btn-sm btn-light">Return to Dashboard</button></a>

  </div>

  <div class = "column" style= "padding: 1cm 5cm 15cm 5cm;">
{% for class in classes %}
    <div id="{{code}}" class="collapse">
      {{desciption}}
    </div>
{% endfor %}
</div>




{% endblock %}
