{% extends "admin/admin_base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}


<!--
<script language = "javascript" type = "text/javascript">
xmlhttp = new XMLHttpRequest();
function getScores(){
xmlhttp.onreadystatechange = function(){
  if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
    document.getElementById('column').innerHTML = xmlhttp.responseText;
  }
  else{
    document.getElementById('column').innerHTML = "<strong> Waiting for server response </strong>"
  }
}
/* 0: Hasn't started
1: Connected to server
2: Sever recevied request
3: Server processing
4: Requst is finished and data is ready
*/
}

xmlhttp.open("GET", "/trasncript.html", true);
xmlhttp.send();
</script>
-->
<div class = "row" >
  <h1> Welcome {{name}} </h1>
</div>
<div class = "column" style= "padding: 1cm 5cm 15cm 5cm;">

<center>
<a href="admin_all_courses"><button type="button" class="btn-lg btn-light">Course Directory</button></a>
<br>
<hr width=100% align=left>
<hr width=100% align=left>
<br>
<a href="admin_selections"><button type="button" class="btn-lg btn-light">Student Selection</button></a>
<br>
<hr width=100% align=left>
<br>
<a href="admin_settings"><button type="button" class="btn-lg btn-light">Settings</button></a>


</center>
</div>

<div style= "padding: 1cm 5cm 15cm 5cm;">
<center>

<!--  <button type = "button" class="btn-lg btn-light" onclick = "getScores()">Work </button> -->
</center>
</div>



{% endblock %}
