{% extends "admin/admin_base.html" %}

{% block title %}
Selection of Students
{% endblock %}

{% block content %}


<div class = "row">
<h1> Welcome {{name}}. </h1>
</div>

<div style= "padding: 1cm 5cm 15cm 5cm;">
  <h3>BEGIN PLACEMENT PROCESS</h3>
  <a href="/schedule"><button type="button" class="btn-lg btn-light">BEGIN</button></a>
  {{scheduling_message}}
<hr width=100% align=left>
<hr width=100% align=left>
<br>
  <h3>STUDENT REQUESTS</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Course Code</th>
        <th scope="col">Accepted?</th>
      </tr>
    </thead>
    <tbody>
      {% for lname in students %}
      <tr>
        <th scope="row">{{lname}}</th>
        <td>{{fname}}</td>
        <td>{{course_code}}</td>
        <td>{{acceptance}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <hr width=100% align=left>
  <br>
  <a href="/"><button type="button" class="btn-sm btn-light">Return to Dashboard</button></a>
</div>


{% endblock %}
